/*.App {
  margin: 3em auto;
  max-width: 50em;
}

.App h1 {
  text-align: center;
}*/

div.App {
  background-color: #f5f5f5;
}
a {
  text-decoration: unset;
  color: initial;
}

audio.floating {
  width: 182%;
}
